*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box_contaiier{
    background-color: aqua;
    width: 60vw;
    height: 60vw;
}
.box1{
    background-color: brown;
}
.box{
    width: 14vw;
   height: 15vw;
   background-color: blueviolet;
   display: inline-block;
   margin-left: 10px;
}