/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
body {
  height: 100vh;
  background: linear-gradient(to bottom right, #b3e5fc, #e1f5fe);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main Card */
.weather-container {
  background: #ffffff;
  width: 350px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Title */
.title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #0277bd;
}

/* Search Box */
.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #90caf9;
  outline: none;
  font-size: 14px;
}

.search-input:focus {
  border-color: #0288d1;
}

/* Button */
.search-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #0288d1;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-btn:hover {
  background: #0277bd;
}

/* Weather Info */
.weather-info {
  margin-top: 10px;
}

.city {
  font-size: 20px;
  color: #01579b;
  margin-bottom: 10px;
}

.temperature,
.climate {
  font-size: 16px;
  color: #333;
  margin: 6px 0;
}
