
body{
  font-family: sans-serif;
  color: #333;
  background-color: #f0f0f0;
}
header{
    background-color: #4CAF50;
    color: white;
}
h1{
    font-size: 3em;
    font-weight: bold;
}
h2{
    font-size: 1.5em;
    color: #f0f0f0;
}
article{
    border: 1px solid lightblue;
    background-color: white;
    margin: 12px;
}
.css-article h1 ,p,h4{
    font-size: large;
    color: black;
}
.js-article h2,p,h4{
      font-size: large;
    color: black;

}
table {
    width: 100%; 
    background-color: #f9f9f9;
}
th, td {
    text-align: left; /* Aligns text to the left in table cells */
}

th {
    background-color: #007BFF; /* Sets a blue background for table header */
    color: white; /* Sets text color for table header */
}

td {
    color: #333; /* Sets a darker color for table cells */
}
.responsive-article,h4,p{
     font-size: large;
    color: black;
}