.card{
    width: 30vw;
    height: 15vw;
    background-color: aqua;
    padding: 10px 10px;
    margin-top: 10px;
    margin: 20px 20px 20px 35vw;
}
.card :hover{
    scale: calc(1.5);
}
h2{
color: rgb(47, 61, 255);
font-size: 20px;
}