 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin-container h1 ,h4 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.container {
    max-width: 900px; 
     margin: 0 auto;
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}
.triangle-img{
    border-radius: 50%;
    overflow: hidden;
}
.margin-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}