* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f1f1;
}
.dashboard {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar content";
    height: 100vh;
}
.sidebar {
    grid-area: sidebar;
    background: #1e1e2d;
    color: white;
    padding: 20px;
}
.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar li:hover {
    color: #00eaff;
}

/* NAVBAR */
.navbar {
    grid-area: navbar;
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.content {
    grid-area: content;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  background-color: #00eaff;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.product-grid {
  display: grid;
  gap: 20px;
  padding: 20px;

  /* Default - Mobile (1 column) */
  grid-template-columns: repeat(1, 1fr);
}
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}
@media (min-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop View - 900px and above */
@media (min-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.box2 {
  grid-column-start: 1;

}