* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid lightblue;
    margin-right: 20px;
    margin-top: 20px;
}

p {
    padding: 20px;
}

.img_second {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
