* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1, .box3 {
    width: 25%;
    height: 40vh;
    background: red;
    display: inline-block;
}
/* Right side boxes */
.box2, .box4 {
    width: 65%;
    height: 40vh;
    background: red;
    display: inline-block;
}

.box2, .box4 {
    margin-left: 10%;  /* 100% - (25 + 65) = 10% */
}

/* Remaining height = margin-top */
.box3, .box4 {
    margin-top: 20vh;  /* 100vh - (40vh + 40vh) = 20vh */
}